.contact-container {
  text-align: center;
  padding: 20px;
}

.contact-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin: 60px;
}

.contact-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  padding: 20px;
}

.stay-connected {
  height: auto;
  margin-left: auto;
  max-width: 370px;
}

.get-in-touch {
  margin-right: auto;
  height: auto;
  max-width: 588px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stay-connected, .get-in-touch {
  flex: 1;
}

.stay-connected h3, .get-in-touch h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.stay-connected p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.divider {
  width: 1px;
  background-color: var(--primary-color);
  height: 400px;
}

.social-icons {
  display: flex;
  gap: 39px;
  margin-top: 33px;
}

.icon {
  width: 63px;
  height: 63px;
  background: #ccc;
  border-radius: 5px;
}

.input-field, .textarea-field {
  width: 100%;
  padding: 10px;
  margin-top: 24px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
}

.textarea-field {
  height: 100px;
  resize: none;
}

.submit-button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: var(--secondary-color);
}
