/* Project Section */
.projects-container {
    text-align: center;
    margin-top: 44px;
    padding: 20px;
    margin-left: 67px;
    margin-right: 67px;
  }
  
  .projects-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
    margin-top: 20px;
  }
  
  .project-card {
    width: 391px;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
  }
  
  .project-image {
    width: 100%;
    height: 290px;
    background: #ccc;
    border-radius: 30px;
    margin-bottom: 15px;
  }
  
  #project-heading{
    text-align: center;
    font-size: 36px;
    font-family: 'Montserrat',sans-serif;
  }
  
  h3 {
    margin: 0;
    font-size: 32;
    font-family: 'Montserrat';
    font-weight: bold;
  }
  
  .technologies {
    font-size: 16;
    /* color: #000000; */
    font-family: 'Montserrat',sans-serif;
    margin-top: 5px;
  }
  
  .description {
    font-size: 16;
    color: var(--secondary-color);
    font-family: 'Montserrat',sans-serif;
    margin-top: 10px;
  }
  